extends layout

block content
  h1 Teams
  p Here you can find information about the most popular teams in Premier League.

  .team
    h3 FC Barcelona
    img(src='https://icdn.caughtoffside.com/wp-content/uploads/2023/04/fcb-barca-news.jpg.webp', alt='FC Barcelona Logo')
    p FC Barcelona, also known as Barça, is a professional football club based in Barcelona, Spain. They are known for their attacking style of play and have won numerous titles, including the UEFA Champions League.

  .team
    h3 Real Madrid
    img(src='https://imageio.forbes.com/i-forbesimg/media/lists/teams/real-madrid_416x416.jpg?format=jpg', alt='Real Madrid Logo')
    p Real Madrid is a professional football club based in Madrid, Spain. They are one of the most successful clubs in the world, having won the UEFA Champions League a record number of times.

  .team
    h3 Manchester United
    img(src='https://www.logo.wine/a/logo/Manchester_United_F.C./Manchester_United_F.C.-Logo.wine.svg', alt='Manchester United Logo')
    p Manchester United is a professional football club based in Manchester, England. They are one of the most popular and successful clubs in English football history.

  .team
    h3 Bayern Munich
    img(src='https://www.designyourway.net/blog/wp-content/uploads/2024/06/bayern-munich-logo-1200x700.jpg', alt='Bayern Munich Logo')
    p Bayern Munich is a professional football club based in Munich, Germany. They are the most successful club in German football history, having won numerous Bundesliga titles and UEFA Champions League trophies.

  .team
    h3 Juventus
    img(src='https://imageio.forbes.com/i-forbesimg/media/lists/teams/juventus_416x416.jpg?format=jpg', alt='Juventus Logo')
    p Juventus is a professional football club based in Turin, Italy. They are one of the most successful clubs in Italian football history, having won numerous Serie A titles and other domestic and international trophies.